#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	dutchmate_io: dutchmate-io {
		compatible = "dutchmate,debug-helper-io";

		uart-interface-enable-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		event-interface-enable-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;

		ctrl-enable-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>,
				    <&gpio0 7 GPIO_ACTIVE_HIGH>,
				    <&gpio0 26 GPIO_ACTIVE_HIGH>,
				    <&gpio0 22 GPIO_ACTIVE_HIGH>;
		ctrl-data-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>,
				  <&gpio0 10 GPIO_ACTIVE_HIGH>,
				  <&gpio0 20 GPIO_ACTIVE_HIGH>,
				  <&gpio0 21 GPIO_ACTIVE_HIGH>;
		event-input-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>,
				    <&gpio0 14 GPIO_ACTIVE_HIGH>,
				    <&gpio0 13 GPIO_ACTIVE_HIGH>,
				    <&gpio0 12 GPIO_ACTIVE_HIGH>;
	};
};

&uart0 {
	current-speed = <460800>;
	status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "DUTchMate Debug Helper";
		tx-fifo-size = <64>;
	};
};
